@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.mars-carousel {
  display: inline-flex;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory; */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mars-carousel::-webkit-scrollbar {
  display: none;
}

.mars-prime-color {
  color: #b59770;
}

.mars-button-colors {
  background-color: #ded5c8;
  color: black;
}
.mars-button-colors:hover {
  background-color: #c1b5a5;
}

.mars-search-colors {
  background-color: #ded5c8;
  color: black;
}

.mars-search-colors:hover {
  background-color: #cfc3b4;
  color: black;
}

.maps-selected-page {
  background-color: #8c6238;
  color: white;
}

.maps-selected-page:hover {
  background-color: #674320;
  color: white;
}
